/* * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
} */
.header .body {
  font-family: montserrat;
}
.header .nav {
  background: #4d8559;
  height: 80px;
  width: 100%;
}
.header .label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.header .nav ul {
  float: right;
  margin-right: 20px;
}
.header .nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.header .nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.header .a.active,
.header .a:hover {
  background: #c79b5a;
  transition: 0.5s;
}
.header .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.header .#check {
  display: none;
}
@media (max-width: 952px) {
  .header .label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  .header .nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .header .checkbtn {
    display: block;
  }
  .header .ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header .nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .header .nav ul li a {
    font-size: 20px;
  }
  .header .a:hover,
  .header .a.active {
    background: none;
    color: #c79b5a;
  }
  .header .#check:checked ~ ul {
    left: 0;
  }
}
.header .section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
